body 
{
    font-family: sans-serif;
    background: #eeeeee;
    overflow-x: hidden;
}

.card
{
    display: inline-block;
    width: auto;
    margin: 2px;
    padding: 0px;
    background: white;    
    box-sizing: border-box;
    box-shadow: 
        0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}