<!doctype html>
<html ng-app="main">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="chart.js"></script>
        <script src="optimize.js"></script>
        <title>optimize</title>
    </head>

    <body ng-controller="main">
        <pre ng-if="error"> {{error}} </pre>
        <chart
               ng-repeat="chart in charts track by chart.id"
               data="chart">
        </chart>
    </body>

</html>